/*------------------------------------*\
  Base configuration
\*------------------------------------*/
html,
body {
  height: 100%;
  font-size: 16px;
  @include media($tablet) {
    font-size: 14px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  background: $awhite;
}

.wrap {
  @include outer-container;
  @include media($mobile) {
    padding: 0 20px;
  }
  @include media($tablet) {
    padding: 0 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  border: 0;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: rem(24);
}

textarea,
input {
  color: $aagreen;
}

textarea.error,
input.error {
  border: 2px solid $pinkred;
}

label.error {
  color: $awhite;
  font-size: rem(18);
  font-weight: 300;
  line-height: 25px;
  display: block;
}

/*------------------------------------*\
  Main Header
\*------------------------------------*/
.main-header {
  position: fixed;
  background: $ablue;
  top: 0;
  right: 0;
  left: 0;
  height: 65px;
  border-bottom: 1px solid $awhite;
  z-index: 9999;
  a {
    color: $awhite;
  }
}

.logo {
  margin: 10px 0 0 0;
}

.logo-link {
  font-size: rem(36);
  float: left;
}

.main-menu {
  @include media($desktop) {
    position: relative;
    float: right;
  }
  li {
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
    font-size: rem(16);
    text-transform: uppercase;
    a {
      font-weight: 300;
      &:hover {
        font-weight: 400;
      }
    }
  }
}

/*------------------------------------*\
  Main Footer
\*------------------------------------*/
.main-footer {
  position: relative;
  background: $awhite;
  padding: 40px 0;
}

.supporting {
  margin-bottom: 120px;
}

.supporting-title {
  color: $ablue;
}

.supporting-list {
  text-align: center;
  li {
    display: inline-block;
    margin: 0 50px;
  }
}

.logo-awlka {
  width: 110px;
}

.logo-digitalocean {
  width: 136px;
}

.logo-awlka,
.logo-digitalocean {
  display: inline-block;
  vertical-align: middle;
}

.other-infos {
  float: right;
}

.other-infos-list {
  li {
    display: inline-block;
    font-size: rem(12);
    font-weight: 300;
    a {
      color: $text-gb;
      margin-left: 10px;
      text-decoration: underline;
    }
  }
}