/*------------------------------------*\
  Base configuration
\*------------------------------------*/
html,
body {
  height: 100%;
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
  @include media($tablet) {
    font-size: 14px;
  }
  @include media($mobile) {
    font-size: 12px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  background: $awhite;
}

.wrap {
  @include outer-container;
  @include media($mobile) {
    padding: 0 20px;
  }
  @include media($tablet) {
    padding: 0 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  border: 0;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: rem(24);
}

textarea,
input {
  color: $aagreen;
  outline: none;
  &:focus {
    background: $awhite;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: $aagreen;
  }
}

textarea.error,
input.error {
  border: 2px solid $pinkred;
}

label.error {
  color: $awhite;
  font-size: rem(16);
  font-weight: 300;
  line-height: 25px;
  display: block;
  @include media($tablet) {
    line-height: 15px;
  }
}

.active {
  color: $agreen !important;
}

::-webkit-input-placeholder {
   color: $aagreen;
}

:-moz-placeholder { /* Firefox 18- */
   color: $aagreen;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $aagreen;
}

:-ms-input-placeholder {
   color: $aagreen;
}

::-moz-selection {
  background: $awhite;
  color: $ablack;
}
::selection {
  background: $awhite;
  color: $ablack;
}
  /* By Zeno Rocha */
  @-webkit-keyframes dropin {
    from  { margin-top: -800px; }
    90%   { margin-top: 10px; }
    to    { margin-top: 0; }
  }
  @-moz-keyframes dropin {
    from  { margin-top: -800px; }
    90%   { margin-top: 10px; }
    to    { margin-top: 0; }
  }
  @keyframes dropin {
    from  { margin-top: -800px; }
    90%   { margin-top: 10px; }
    to    { margin-top: 0; }
  }

  @-webkit-keyframes slidein {
    from  { margin-left: -800px; }
    to    { margin-left: 0; }
  }
  @-moz-keyframes slidein {
    from  { margin-left: -800px; }
    to    { margin-left: 0; }
  }
  @keyframes slidein {
    from  { margin-left: -800px; }
    to    { margin-left: 0; }
  }


/*------------------------------------*\
  Main Header
\*------------------------------------*/
.main-header {
  position: fixed;
  background: $ablue;
  top: 0;
  right: 0;
  left: 0;
  height: 65px;
  border-bottom: 1px solid $menuborder;
  z-index: 9999;
  a {
    color: $awhite;
  }
}

@include media($iphone-5) {
  .main-header-iphone {
    position: relative;
    top: 0;
  }
  .home-part-iphone {
    margin-top: 0 !important;
  }
}

@include media($iphone-4) {
  .main-header-iphone {
    position: relative;
    top: 0;
  }
  .home-part-iphone {
    margin-top: 0 !important;
  }
}

.logo {
  margin: 10px 0 0 0;
  @include media($tablet) {
    display: inline-block;
  }
  @include media($mobile) {
    margin-top: 15px;
  }
}

.logo-link {
  font-size: rem(36);
  float: left;
  @include media($iphone-5) {
    font-size: rem(30);
  }
  @include media($iphone-4) {
    font-size: rem(28);
    margin-top: 5px;
  }
}

.main-menu {
  li {
    margin: 15px 0 0 0;
    font-size: rem(16);
    text-transform: uppercase;
    a {
      font-weight: 300;
      &:hover {
        color: $agreen;
        transition: all .2s ease-in-out;
      }
    }
    @include media($tablet) {
      font-size: rem(18);
    }
  }
  @include media($desktop) {
    position: relative;
    float: right;
    display: inline-block !important;
    li {
      display: inline-block;
      margin-left: 20px;
    }
  }
  @include media($tablet) {
    position: absolute;
    right: 20px;
    top: 13px;
    .btn-who-can {
      background: url(../../img/menu-icons/btn-who-can.png) center no-repeat;
      background-size: 40px 40px;
      width: 40px;
      height: 40px;
    }
    .btn-important {
      background: url(../../img/menu-icons/btn-important.png) center no-repeat;
      background-size: 35px 35px;
      width: 35px;
      height: 35px;
    }
    .btn-the-project {
      background: url(../../img/menu-icons/btn-the-project.png) center no-repeat;
      background-size: 35px 35px;
      width: 35px;
      height: 35px;
    }
    .btn-contact {
      background: url(../../img/menu-icons/btn-contact.png) center no-repeat;
      background-size: 35px 35px;
      width: 35px;
      height: 35px;
    }
    .btn-supporting {
      background: url(../../img/menu-icons/btn-supporting.png) center no-repeat;
      background-size: 35px 35px;
      width: 35px;
      height: 35px;
    }
    li {
      display: inline;
      margin: 0 5px;
      padding: 15px 0;
      a {
        display: inline-block;
        vertical-align: middle;
        margin: 0 2px 0 4px;
      }
      span {
        display: none;
      }
    }
  }
  @include media($mobile) {
    .btn-who-can {
      background: url(../../img/menu-icons/btn-who-can.png) center no-repeat;
      background-size: 30px 30px;
      width: 30px;
      height: 30px;
    }
    .btn-important {
      background: url(../../img/menu-icons/btn-important.png) center no-repeat;
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
    }
    .btn-the-project {
      background: url(../../img/menu-icons/btn-the-project.png) center no-repeat;
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
    }
    .btn-contact {
      background: url(../../img/menu-icons/btn-contact.png) center no-repeat;
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
    }
    .btn-supporting {
      background: url(../../img/menu-icons/btn-supporting.png) center no-repeat;
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
    }
  }
  @include media($iphone-5) {
    position: absolute;
    top: 20px;
    .btn-who-can {
      background: url(../../img/menu-icons/btn-who-can.png) center no-repeat;
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
    }
    .btn-important {
      background: url(../../img/menu-icons/btn-important.png) center no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
    }
    .btn-the-project {
      background: url(../../img/menu-icons/btn-the-project.png) center no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
    }
    .btn-contact {
      background: url(../../img/menu-icons/btn-contact.png) center no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
    }
    .btn-supporting {
      background: url(../../img/menu-icons/btn-supporting.png) center no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
    }
  }
  @include media($iphone-4) {
    position: absolute;
    top: 20px;
    .btn-who-can {
      background: url(../../img/menu-icons/btn-who-can.png) center no-repeat;
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
    }
    .btn-important {
      background: url(../../img/menu-icons/btn-important.png) center no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
    }
    .btn-the-project {
      background: url(../../img/menu-icons/btn-the-project.png) center no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
    }
    .btn-contact {
      background: url(../../img/menu-icons/btn-contact.png) center no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
    }
    .btn-supporting {
      background: url(../../img/menu-icons/btn-supporting.png) center no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
    }
  }
}

/*------------------------------------*\
  Main Footer
\*------------------------------------*/
.main-footer {
  @extend .cf;
  position: relative;
  background: $awhite;
  padding: 40px 0;
  min-height: 100%;
  height: 750px;
  @include media($desktop) {
    .wrap {
      margin-top: 180px;
    }
  }
  @include media($mobile) {
    height: 100%;
    .wrap {
      padding: 50px 20px 0 20px;
    }
  }
}

.supporting {
  margin-bottom: 120px;
  @include media($mobile) {
    margin-bottom: 0;
  }
}

.supporting-title {
  color: $ablue;
  margin-bottom: 160px;
  @include media($mobile) {
    margin-bottom: 40px;
  }
}

.supporting-list {
  text-align: center;
  li {
    display: inline-block;
    margin: 0 50px;
    @include media($mobile) {
      margin: 0 30px 0 30px;
    }
    @include media($iphone-4) {
      margin: 0 20px 0 20px;
    }
  }
}

.logo-awlka {
  width: 110px;
  @include media($mobile) {
    width: 80px;
  }
}

.logo-digitalocean {
  width: 136px;
  @include media($mobile) {
    width: 96px;
  }
}

.logo-awlka,
.logo-digitalocean {
  display: inline-block;
  vertical-align: middle;
}

.heart {
  display: inline-block;
  position: relative;
  top: 0.2em;
  font-size: 1.4em;
  color: $ablack;
  vertical-align: bottom;
}

.powered-by {
  &:before {
    content: "|";
    display: inline-block;
    margin: 0 4px 0 2px;
    color: $ablack;
    font-size: rem(15);
  }
  @include media($mobile) {
    display: block;
    &:before {
      content: "";
    }
  }
}

.other-infos {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  text-align: center;
  a {
    color: $ablack;
    &:hover {
      color: $text-gb;
      transition: all .2s ease-in-out;
    }
  }
  @include media($mobile) {
    bottom: 20px;
  }
}

.other-infos-list {
  li {
    display: inline-block;
    font-size: rem(12);
    font-weight: 300;
    a {
      color: $text-gb;
      margin-left: 10px;
      text-decoration: underline;
    }
  }
}