/*------------------------------------*\
  Let's override Neat's defaults!
\*------------------------------------*/
@import 'vendor/neat/neat-helpers';

$visual-grid: true;

$max-width: em(960);

$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
$desktop: new-breakpoint(min-width: 800px 12);