<section class="wrap-section get-in-touch" id="contato" data-scroll-index="3">

  <div class="arrow-previous-section arrow-previous-section-w"></div>
  <div class="wrap">
    <h2 class="contact-title big-title">Contato</h2>

    <p class="invite-to-contact">Se você tiver alguma dúvida ou sugestão, entre em contato:</p>

    <form class="contact-form" method="post" action="home/contact">
      <input class="contact-name-field" type="text" id="contact-name" name="name" placeholder="Nome">
      <input class="contact-email-field" type="text" id="contact-email" name="email" placeholder="E-mail">
      <textarea class="message-field" name="message" id="contact-message" placeholder="Digite sua mensagem"></textarea>
      <button class="btn btn-send-message" type="submit"><span>Enviar</span></button>
    </form>

    <div class="contact-errors-container"></div>

    <div class="contact-success is-hidden">
      <span class="contact-success-title">
        Sua Mensagem foi enviada com Sucesso!
      </span>
      <p>Enviar outra mensagem.</p>
    </div>

    <a class="smoth-link" data-scroll-nav="4" href="#apoio"><span class="arrow-down arrow-down-w"></span></a>
  </div>
</section>