<header class="main-header" role="banner">
  <div class="wrap">
    <h1 class="logo"><a class="logo-link" href="/">SaveLives</a></h1>

    <nav class="main-menu">
      <ul>
        <li><a href="#quem-pode-doar">Quem pode doar?</a></li>
        <li><a href="#importante-saber">Importante saber</a></li>
        <li><a href="#o-projeto">O projeto</a></li>
        <li><a href="#contato">Contato</a></li>
        <li><a href="#apoio">Apoio</a></li>
      </ul>
    </nav>
  </div>
</header>