<polymer-ui-accordion selected="0">

  <polymer-ui-collapsible>
    <div class="polymer-ui-collapsible-header">Quem pode doar?</div>
    <div class="content">
      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Alimentação</div>
        <div class="content">
          Estar alimentado (evitar alimentação gordurosa nas 4 horas que antecedem a doação).
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Documentação</div>
        <div class="content">
          Portar documento original com foto, emitido por órgão oficial.
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Idade</div>
        <div class="content">
          Idade entre 16 e 69 anos (menores de 18 anos devem estar acompanhados por um responsável). Idade máxima de 60 anos para a primeira doação.
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Peso</div>
        <div class="content">
          Peso superior a 50kg.
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Saúde</div>
        <div class="content">
          Boas condições de saúde e qualidade de vida.
        </div>
      </polymer-ui-collapsible>

    </div>

  </polymer-ui-collapsible>

  <polymer-ui-collapsible>
    <div class="polymer-ui-collapsible-header">Quem não pode doar?</div>
    <div class="content">
      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Alimentação</div>
        <div class="content">
          Pessoas em jejum prolongado ou que tenham ingerido alimentos gordurosos nas últimas 4 horas.
        </div>
      </polymer-ui-collapsible>
    </div>
  </polymer-ui-collapsible>
</polymer-ui-accordion>