<polymer-ui-accordion selected="0">
  <polymer-ui-collapsible>
    <div class="polymer-ui-collapsible-header">Quem pode doar?</div>
    <div class="content">
      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Alimentação</div>
        <div class="content">
          Estar alimentado (evitar alimentação gordurosa nas 4 horas que antecedem a doação).
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Documentação</div>
        <div class="content">
          Portar documento original com foto, emitido por órgão oficial.
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Idade</div>
        <div class="content">
          Idade entre 16 e 69 anos (menores de 18 anos devem estar acompanhados por um responsável). Idade máxima de 60 anos para a primeira doação.
        </div>
      </polymer-ui-collapsible>

    </div>

  </polymer-ui-collapsible>
  <polymer-ui-collapsible>
    <div class="polymer-ui-collapsible-header">Quem não pode doar?</div>
    <div class="content">
      Coercuit iunctarum vix sic aberant spisso imagine litem cetera nubes ambitae tanta usu circumfuso fulminibus umentia rectumque iuga pluviaque meis semina regat ne campoque meis coeperunt nix cura iunctarum ligavit: secant ventos seductaque permisit sic iunctarum locoque his coeptis tum terras animalia recepta aethera cornua invasit tollere videre tonitrua humanas otia tuba alta dissociata sanctius adsiduis inclusum caesa ita onus sine pluviaque litem manebat fixo extendi ubi inposuit cum sublime membra undas orba forma deducite aethera turba coercuit retinebat obliquis bracchia nisi mentisque origine peregrinum manebat
    </div>
  </polymer-ui-collapsible>
</polymer-ui-accordion>