<polymer-ui-accordion>

  <polymer-ui-collapsible>
    <div class="polymer-ui-collapsible-header polymer-wc-title">Quem pode doar? <span class="arrow-big-title"></span></div>
    <div class="content polymer-wc-content polymer-wcan-content">

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-positive"></span>Alimentação <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Estar alimentado (evitar alimentação gordurosa nas 4 horas que antecedem a doação).</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-positive"></span>Documentação <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Portar documento original com foto, emitido por órgão oficial.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-positive"></span>Idade <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Idade entre 16 e 69 anos (menores de 18 anos devem estar acompanhados por um responsável). Idade máxima de 60 anos para a primeira doação.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-positive"></span>Peso <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Peso superior a 50kg.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-positive"></span>Saúde <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Boas condições de saúde e qualidade de vida.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-positive"></span>Mulheres <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Podem doar sangue num intervalo mínimo de 3 meses, não ultrapassando 3 doações por ano.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-positive"></span>Homens <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Podem doar sangue num intervalo mínimo de 2 meses, não ultrapassando 4 doações por ano.</p>
        </div>
      </polymer-ui-collapsible>

    </div>

  </polymer-ui-collapsible>

  <polymer-ui-collapsible>
    <div class="polymer-ui-collapsible-header polymer-wc-title">Quem não pode doar? <span class="arrow-big-title"></span></div>
    <div class="content polymer-wc-content polymer-wcant-content">

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-negative"></span>Alimentação <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Pessoas em jejum prolongado ou que tenham ingerido alimentos gordurosos nas últimas 4 horas.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-negative"></span>Anestesia <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Pessoas que fizeram tratamento dentário sem anestesia nos últimos 3 dias, ou com anestesia nos últimos 7 dias.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-negative"></span>Cirurgia <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Pessoas que realizaram cirurgias recentemente.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-negative"></span>Endoscopia <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Pessoas que fizeram endoscopia nos últimos 6 meses.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-negative"></span>Gravidez <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Mulheres grávidas ou amamentando.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-negative"></span>Gripe <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Pessoas que tiveram gripe ou febre nos últimos 7 dias.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-negative"></span>Hepatite <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Pessoas que tiveram Hepatite Viral após os 11 anos de idade.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-negative"></span>Medicamento <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Usuários de determinados medicamentos ou drogas.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-negative"></span>Sexo <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Pessoas que tiveram contato sexual com múltiplos parceiros nos últimos 12 meses.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-negative"></span>Sono <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Pessoas que tenham dormido menos de 6 horas na noite anterior à doação.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header polymer-sub-header"><span class="mini-symbol-check mini-symbol-check-negative"></span>Tatuagem <span class="arrow-medium-title"></span></div>
        <div class="content">
          <p>Pessoas que fizeram tatuagem ou piercing nos últimos 6 meses.</p>
        </div>
      </polymer-ui-collapsible>

    </div>
  </polymer-ui-collapsible>
</polymer-ui-accordion>