<polymer-ui-accordion selected="0">

  <polymer-ui-collapsible>
    <div class="polymer-ui-collapsible-header polymer-wc-title">Quem pode doar?</div>
    <div class="content polymer-wc-content polymer-wcan-content">

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Alimentação</div>
        <div class="content">
          <p>Estar alimentado (evitar alimentação gordurosa nas 4 horas que antecedem a doação).</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Documentação</div>
        <div class="content">
          <p>Portar documento original com foto, emitido por órgão oficial.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Idade</div>
        <div class="content">
          <p>Idade entre 16 e 69 anos (menores de 18 anos devem estar acompanhados por um responsável). Idade máxima de 60 anos para a primeira doação.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Peso</div>
        <div class="content">
          <p>Peso superior a 50kg.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Saúde</div>
        <div class="content">
          <p>Boas condições de saúde e qualidade de vida.</p>
        </div>
      </polymer-ui-collapsible>

    </div>

  </polymer-ui-collapsible>

  <polymer-ui-collapsible>
    <div class="polymer-ui-collapsible-header polymer-wc-title">Quem não pode doar?</div>
    <div class="content polymer-wc-content polymer-wcant-content">

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Alimentação</div>
        <div class="content">
          <p>Pessoas em jejum prolongado ou que tenham ingerido alimentos gordurosos nas últimas 4 horas.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Anestesia</div>
        <div class="content">
          <p>Pessoas que fizeram tratamento dentário sem anestesia nos últimos 3 dias, ou com anestesia nos últimos 7 dias.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Cirurgia</div>
        <div class="content">
          <p>Pessoas que realizaram cirurgias recentemente.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Endoscopia</div>
        <div class="content">
          <p>Pessoas que fizeram endoscopia nos últimos 6 meses.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Gravidez</div>
        <div class="content">
          <p>Mulheres grávidas ou amamentando.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Gripe</div>
        <div class="content">
          <p>Pessoas que tiveram gripe ou febre nos últimos 7 dias.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Hepatite</div>
        <div class="content">
          <p>Pessoas que tiveram Hepatite Viral após os 11 anos de idade.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Medicamento</div>
        <div class="content">
          <p>Usuários de determinados medicamentos ou drogas.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Sexo</div>
        <div class="content">
          <p>Pessoas que tiveram contato sexual com múltiplos parceiros nos últimos 12 meses.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Sono</div>
        <div class="content">
          <p>Pessoas que tenham dormido menos de 6 horas na noite anterior à doação.</p>
        </div>
      </polymer-ui-collapsible>

      <polymer-ui-collapsible>
        <div class="polymer-ui-collapsible-header">Tatuagem</div>
        <div class="content">
          <p>Pessoas que fizeram tatuagem ou piercing nos últimos 6 meses.</p>
        </div>
      </polymer-ui-collapsible>

    </div>
  </polymer-ui-collapsible>
</polymer-ui-accordion>