<section class="wrap-section the-project" id="o-projeto">
  <span class="page-name">O Projeto</span>

  <div class="arrow-previous-section arrow-previous-section-g"></div>
  <div class="wrap">
    <h2 class="the-project-title big-title">O Projeto</h2>

    <p>
      O projeto SaveLives é uma plataforma web que tem como objetivo principal o agendamento de doadores de sangue e compartilhamento de pessoas que necessitam de doações, além de fornecer informações importantes para os interessados em doar.
    </p>

    <p>Em breve teremos mais novidades.</p>

    <!-- <a href="#" class="btn btn-project"><span>Saiba mais</span></a>  -->

    <a class="smoth-link" href="#contato"><span class="arrow-down arrow-down-g"></span></a>
  </div>
</section>