<article class="the-project" id="o-projeto">

  <div class="arrow-previous-section arrow-previous-section-g"></div>

  <div class="wrap">
    <h1 class="the-project-title big-title">O Projeto</h1>

    <p>
      O projeto SaveLives é uma plataforma web que tem como objetvivo principal o agendamento de doadores de sangue e compartilhamento de pessoas que necessitam de doações, além de fornecer informações importantes para os interessados em doar.
    </p>

    <p>Em breve teremos mais novidades.</p>

    <!-- <a href="#" class="btn btn-project"><span>Saiba mais</span></a>  -->

    <a href="#contato"><span class="arrow-down arrow-down-g"></span></a>
  </div>
</article>