<section class="who-can" id="quem-pode-doar">

  <div class="arrow-previous-section arrow-previous-section-b"></div>

  <div class="wrap">

    <div id="tabs" class="tabs">

      <nav class="can-cant">
        <ul>
          <li class="tab-current" data-index="1"><a href="#">Quem pode doar?</a></li>
          <li data-index="2"><a href="#">Quem não pode doar?</a></li>
        </ul>
      </nav>

      <div class="tabs-content">

        <% include who-can-donate %>

        <% include who-cant-donate %>

      </div>

    </div>

    <a href="#importante-saber"><span class="arrow-down arrow-down-g"></span></a>

  </div>
</section>