<!--


       444444444       000000000            444444444
      4::::::::4     00:::::::::00         4::::::::4
     4:::::::::4   00:::::::::::::00      4:::::::::4
    4::::44::::4  0:::::::000:::::::0    4::::44::::4
   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4
  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4
 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4
4::::444444::::4440:::::0 000 0:::::04::::444444::::444
4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
4444444444:::::4440:::::0     0:::::04444444444:::::444
          4::::4  0:::::0     0:::::0          4::::4
          4::::4  0::::::0   0::::::0          4::::4
          4::::4  0:::::::000:::::::0          4::::4
        44::::::44 00:::::::::::::00         44::::::44
        4::::::::4   00:::::::::00           4::::::::4
        4444444444     000000000             4444444444


-->
<!DOCTYPE html><html><head><title>Página não encontrada :(</title><link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'><style>html, body{margin: 0;padding: 0;}body{background: #00acc2;color: #affab3;font-family: 'Lato', sans-serif;font-size: 1rem;}a{font-size: 1.875rem;font-weight: 300;color: #fff;text-decoration: none;}a:hover{color: #affab3;}h1{font-size: 4.375rem;font-weight: 700;text-transform: uppercase;margin: 0;}p{font-size: 2.25rem;font-weight: 400;}.main{position: absolute;top: 50%;left: 50%;text-align: center;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}</style></head><body><div class="main"><h1>Erro 404</h1><p>A página que você procura não existe.</p><a href="/">Volte para a página inicial.</a></div></body></html>