<!DOCTYPE html>
<html>
<head>
  <!--[if lt IE 10]><meta http-equiv="refresh" content="0; url=/ops/"><![endif]-->
  <meta charset="utf-8" />
  <title><%- title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/img/favicon.png">
  <script src="//cdnjs.cloudflare.com/ajax/libs/polymer/0.3.1/platform.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/polymer/0.3.1/polymer.js"></script>
  <link rel="import" href="/bower/love-heart/love-heart.html">
  <link rel="import" href="/bower/polymer-ui-accordion/polymer-ui-accordion.html">
</head>

<body>

  <% include includes/header %>

  <%- body %>

  <script src="/js/app.min.js"></script>
</body>
</html>
