<!DOCTYPE html>
<html>
<head>
  <!--[if lt IE 10]><meta http-equiv="refresh" content="0; url=/ops/"><![endif]-->
  <meta charset="utf-8" />

  <meta property="og:image" content="http://sierra.saveliv.es/img/savelives.png" />
  <meta property="fb:profile_id" content="579932785451226">
  <meta property="og:title" content="Quem tem iniciativa de doar sangue se transforma em um herói, pois salva vidas" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="SaveLives"/>
  <meta property="og:url" content="http://saveliv.es" />
  <meta property="og:description" content="Se você tem a iniciativa de ser um doador de sangue ou de contribuir nesta causa, cadastre-se para saber mais." />
  <meta property="og:locale" content="pt_BR" />

  <link rel="canonical" href="http://saveliv.es">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@_savelives">
  <meta name="twitter:creator" content="@_savelives">
  <meta name="og:description" content="Se você tem a iniciativa de ser um doador de sangue ou de contribuir nesta causa, cadastre-se para saber mais.">
  <meta name="og:title" content="SaveLives">
  <meta name="twitter:url" content="http://saveliv.es">
  <meta name="twitter:image" content="http://sierra.saveliv.es/img/savelives.png">

  <title><%- title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles/main.css">

  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/img/favicon.png">

  <script src="//cdnjs.cloudflare.com/ajax/libs/polymer/0.3.1/platform.js"></script>
  <link rel="import" href="/bower/polymer-ui-accordion/polymer-ui-accordion.html">
</head>

<body>

  <% include includes/header %>

  <%- body %>

  <script src="/js/app.min.js"></script>
</body>
</html>
