<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ops!!!</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/img/favicon.png">

  <style>

    * {
      padding: 0;
      margin: 0;
    }

    body {
      font-family: 'Lato', sans-serif;
      text-align: center;
      font-size: 16px;
      background: #fff;
    }

    p {
      font-size: 20px;
      line-height: 1.4;
    }

    a {
      text-decoration: none;
      color: #08c;
    }

    a:hover {
      text-decoration: underline;
    }

    ul {
      margin: 50px;
      list-style: none;
      display: block;
    }

    li {
      display: inline;
    }

    .wrapper {
      width: 960px;
      max-width: 100%;
      margin: auto;
    }

    .main-content__top {
      position: absolute;
      color: #affab3;
      top: 0;
      right: 0;
      left: 0;
      height: 50%;
      background: #00acc2;
    }

    .main-content__top .wrapper,
    .main-content__bottom .wrapper {
      margin-top: 50px;
    }

    .main-content__bottom {
      position: absolute;
      color: #3ecf9e;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;
    }

    h1 {
      font-size: 40px;
      font-weight: 400;
      margin-top: 20px;
      width: 600px;
      text-align: center;
      margin: auto;
    }

  </style>

</head>
<body>

<%- body %>

</body>
</html>