<article class="home-part">
    <div class="wrap">
      <span class="initiative-title big-title">
        Quem tem iniciativa de doar sangue se transforma em um herói, pois <br><strong>salva vidas</strong>.
      </span>

      <p>Se você tem a iniciativa de ser um doador de sangue ou de contribuir nesta causa, <br> <strong>cadastre-se</strong> para saber mais.</p>

      <section class="register-now">
        <form class="register-user-form" method="post" action="/home/register">
          <input class="name-field" type="text" id="name" name="name" placeholder="Nome">
          <input class="email-field" type="text" id="email" name="email" placeholder="E-mail">
          <button class="btn btn-register-now" type="submit"><span>Cadastre-se</span></button>
        </form>

        <div class="errors-container"></div>

        <div class="register-success">
          <span class="register-success-title big-title">
            Cadastro Efetuado com Sucesso!
          </span>
          <p>Realizar outro cadastro.</p>
        </div>

      </section>

      <small class="disclaimer-info">O cadastro é gratuito e garante a sua privacidade. <br> Você receberá informações sobre as etapas do projeto SaveLives.</small>

    </div>

  <span class="arrow-down arrow-down-w"></span>
</article>

<% include ../includes/who-can %>

<% include ../includes/responsibility %>

<% include ../includes/the-project %>

<% include ../includes/contact %>