<div class="main-content">
  <h1>Lamentamos, mas o seu navegador não é suportado!</h1>
  <p>Sim, a web é aberta, mas sejamos sensatos, usar um navegador antigo só atrapalha o ecossistema digital da web, portanto, atualize o seu navagador!</p>

  <ul class="browsers">
    <li><a href=""><img src="/img/browsers/chrome.png" alt="Google Chrome"/></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul>

  <p>Obrigado! Equipe SaveLives</p>
</div>