<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ops!!!</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/img/favicon.png">

  <style>

    * {
      padding: 0;
    }

    body {
      font-family: 'Lato', sans-serif;
    }

    .main-content {
      width: 960px;
      max-width: 100%;
      margin: 40px auto;
    }

  </style>

</head>
<body>

<div class="main-content">
  <h1>Lamentamos, mas o seu navegador não é suportado!</h1>
  <p>Sim, a web é aberta, mas sejamos sensatos, usar um navegador antigo só atrapalha o ecossistema digital da web, portanto, atualize o seu navagador!</p>
  <p>Obrigado! Equipe SaveLives</p>
</div>

</body>
</html>